.Viewemployee-all-container{
    min-width: 500px;
    margin-top: 120px;
    margin-left: 370px;
    margin-right: 30px;
    position: relative;
}

.Viewemployee-top {
    display: flex;

}

.Viewemployee-top-left {
    display: flex;
    width: 80%;
    min-width: 800px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #f4f4f4;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(4px);
}

.Viewemployee-top-left-content{
    padding: 30px
}

.viewemployee-img{
    margin-right: 50px;
}

.viewemployee-img > img {
    width: 350px;
    height: 350px;
    border-radius: 50%;
    margin-right: 30px;
    margin-bottom: 20px;
    object-fit: cover;
    
}

.viewemployee-img > p {
    text-align: center;
}

.viewemployee-information{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    padding-left: 20px;
    margin-bottom: 20px;
}

.Viewemployee-top-left-content > h1{
    font-weight: bold;
}

.Viewemployee-top-left-content > Button {
    margin-right: 10px;
}

.Viewemployee-top-right {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
}

.Viewemployee-bottom{
    display: flex;
}

.Viewemployee-bottom-left{
    display: flex;
    flex-direction: column;
    min-width: 650px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.Viewemployee-bottom-left-tasks{
    width: 95%;
    background-color: #f4f4f4;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(4px);
}

.Viewemployee-bottom-left > h5 {
    color:#077777;
    font-weight: bold;
}
.Viewemployee-bottom-left-attendance{
    width: 95%;
    background-color: #f4f4f4;
    border-radius: 5px;
    margin-top: 10px;
    padding: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(4px);
}

.attendance-icon {
    display: flex;
}

.attendance-icon > div {
    flex: 1;
    margin-left: 30px;
}

.Viewemployee-bottom-right{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 20px;
}

.Viewemployee-bottom-right > h5{
    color: #077777;
    font-weight: bold;
}

.Viewemployee-payment-row {
    display: flex;
    flex: 1;
    justify-content: space-between;
}

.Viewemployee-incomededuct{
    display: flex;
    margin-bottom: 10px;
    justify-content: center;
}
