
.navbar{
    background-color: #077777;
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    position: fixed;
    justify-content: space-between;
    z-index: 200;
    top:0;
}


.navbar-logo {
    margin-left: 50px;
}

.navbar-logo img {
    height: 70px;  
}

.user-profile-navbar{
    margin-right: 50px;
    display: flex;
    align-items: center;
}

.image-profile{
    vertical-align: middle;
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.right-profile{
    margin-left: 10px;
}

.name-user{
    color: #f4f4f4;
    font-size: 17px;
}

.role-user{
    color: #f4f4f4;
    font-size: 10px;
}