
.search-container{
    margin-top:10px;
    margin-bottom:10px;
    display: flex;
}

.search-select{
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-right: 10px;
    font-size: 14px;
    font-weight: 500;
    color: #333;
    outline: none;
}