
.sidebar_bg{
    width: 300px;
    height: 80%;
    margin-left: 30px;
    margin-left: 30px;
    position: fixed;
    top: 120px;
    background: #f4f4f4;
    z-index: 100;
}

.sidebar_bg > h5{
    color: #077777;
    margin-top: 10px;
    margin-left: 10px;
}

.sidebar_bg > ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.sidebar_bg > ul > li{
   padding-top: 20px;
   padding-left: 30px;
   padding-bottom: 20px;
   font-size: 17px;
}

li:hover{
    background: #c4c4c4;
    color: #077777;
}
