
.sidebar_bg{
    width: 300px;
    height: 80%;
    margin-left: 30px;
    margin-left: 30px;
    position: fixed;
    top: 120px;
    background: #f4f4f4;
    z-index: 100;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(4px);
}

.sidebar_bg > h5{
    color: #077777;
    margin-top: 10px;
    margin-left: 10px;
}

.sidebar-container {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}


.notselected {
    color: #000000;
    display: flex;
    text-decoration: none;
    align-items: center;
    padding-left: 1.25rem; /* 20px */
    padding-right: 1.25rem; /* 20px */
    gap: 0.75rem;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
    transition-duration: 200ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    text-transform: capitalize;
}

.notselected:hover {
    color: #077777;
}

.selected {
    color: #000000;
    font-weight: bold;
    display: flex;
    align-items: center;
    padding-left: 1.25rem; /* 20px */
    padding-right: 1.25rem; /* 20px */
    gap: 0.75rem;
    border-right-width: 2px;
    border-color: rgb(7 119 119);
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
    transition-duration: 200ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    text-transform: capitalize;
}


