.role-form-container {
    min-width: 500px;
    margin-top: 120px;
    margin-left: 370px;
    margin-right: 30px;
    position: relative;
    min-width: 1000px;
}

.role-title {
    display: flex;
}

.role-title > h5{
    align-self: center;
    color: #077777;
    font-weight: bold;
    margin-bottom: 0px;
}

.role-title > Button{
    margin-left: 10px;
}

.role-form {
    width: 100%;
    height: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #f4f4f4;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(4px);
}

.role-form-container h5 {
    color: #077777;
    font-weight: bold;
}

.Role-header-content {
    display: flex;
}

.Role-header-content > div {
    flex: 1;
}

.Role-content {
    display: flex;
    margin-top: 10px;
}

.Role-content > div {
    flex: 1;
}

.Role-Head-Name{
    position: relative;
    right:100px
}

.Role-Head-Desc{
    position: relative;
    left:40px
}

.Role-Head-Member{
    position: relative;
    right:30px
}

.Role-Name{
    position: relative;
    right:100px
}

.Role-Desc{
    position: relative;
    right:100px
}

.Role-Member{
    position: relative;
    right:25px
}