
.main {
    margin-top: 50px;
    margin-left: 350px;
    position: relative;
}

.dashboard{
    width: 100%;
    height: 100%;
    margin-top: 20px;
    background-color: #f4f4f4;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(4px);
}

.container p{
    margin-top: 10px;
    margin-left: 15px;
    color: #ffffff;
}

.container{
    display: flex;
}

.col{
    width: 200px;
    height: 150px;
    background-color: #339331;
    margin: 10px;
    border-radius: 5px;
}

.information{
    width: 100%;
    height: 100%;
    margin-top: 20px;
    background-color: #f4f4f4;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(4px);
}

