.ps-form-container {
    min-width: 500px;
    margin-top: 120px;
    margin-left: 370px;
    margin-right: 30px;
    position: relative;
    min-width: 1000px;
}

.ps-form-container h5 {
    color: #077777;
    font-weight: bold;
}

.ps-form-title {
    display: flex;
}

.ps-form-title > h5 {
    align-self: center;
    margin-bottom: 0px;
}

.ps-form-title > Button {
    margin-left: 10px;
}

.payment-header-content {
    display: flex;
}

.payment-header-content > div {
    flex: 1;
}

.payment-ID{
    position: relative;
    left: 20px;
}

.payment-name{
    position: relative;
    right: 10px;
}

.payment-amount{
    position: relative;
    right: 15px;
}

.payment-account{
    position: relative;
    right: 25px;
}

.payment-bank{
    position: relative;
    right: 35px;
}

.payment-approve{
    position: relative;
    right: 40px;
}

.addpaymentstatus-container {
    display: flex;
}

.addpaymentstatus-container > Form.Control {
    flex: 1;
}