.viewtask-task-bg {
    background-color: #EFEFEF;
    padding: 10px;
    margin-bottom: 30px;
    border-radius: 5px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(4px);
}

.viewtask-supervisor-bg{
    background-color: #EFEFEF;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 30px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(4px);
}

.viewtask-members-bg {
    background-color: #EFEFEF;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(4px);
}

.header-content {
    display: flex;
}

.header-content > div{
    flex: 1;
}

.header-content-Name{
    position: relative;
    right: 10px;
}

.header-content-Position{
    position: relative;
    right: 25px;
}

.header-content-Department{
    position: relative;
    right: 40px;
}

.employee-content {
    display: flex;
    margin-top: 10px;
}

.employee-content > div{
    flex: 1;
}

hr.solid {
    border-top: 3px solid #000000;
}